@import url("https://cdn.jsdelivr.net/gh/hantaotaohan/logseq-onedark@latest/custom.css");

.cm-s-solarized.cm-s-dark {
    background: #282c34;
    font-family: "FiraCode";
    padding-top: 0px;
    line-height: 1.75em;
    margin: 1rem;
    box-shadow: 1px 1px 10px 10px #00000030 !important;
}
