/* 列表的左边线条颜色 */
.block-children-left-border {
    background-color: #282c34 !important;
}



.ls-block {
	position: relative;
	min-height: 24px;
	padding: 6px 0;
	border-bottom: 1px solid #0000;
}

.editor-inner textarea {
	border: none;
	border-radius: 0;
	background: 0 0;
	padding: 0;
	resize: none;
	line-height: 2.0;
}

.inline {
	display: inline;
	line-height: 2.0;
}

@media (min-width:640px) {
	.sm\:mr-2 {
		margin-right: .5rem;
		align-items: flex-end;
	}
}
