@import url("https://cdn.jsdelivr.net/gh/hantaotaohan/logseq-onedark/custom.css");

/* 主代码框数字边栏设置 */
.cm-s-solarized.cm-s-dark .CodeMirror-gutters {
    background-color: #000;
    border-right-color: #000;
    border-right-style: solid;
}

/* 页面内代码宽度固定 */
.extensions__code {
  margin-top: 8px;
}
.extensions__code-lang + div {
  margin-top: 0 !important;
}

/* 分割线设置 */
hr {
    margin: 1rem 0;
    border-color: var(--ls-border-color,#ccc);
}
